footer {
    background-image: url(imagenes/winter-landscape-2571788_1920.jpg) !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    //*background-attachment: fixed !important;*/
}
a {
    text-decoration: none !important;
    font-size: 20px
}
p {
    font-size: 21;
}
a:hover {
    color: rgb(247, 8, 8) !important;
}
i {
    font-size: 32px;
}
